# RAYMAP Config File
# Format: text/plain v1.0

[Surface]
width=1080
height=1920

[Mode]
mode=HOMOGRAPHY

[Mesh]
columns=32
rows=32

[Quad]
topLeft=176.25,0.00
topRight=783.75,0.00
bottomRight=783.75,1080.00
bottomLeft=176.25,1080.00
