# RAYMAP Config File
# Format: text/plain v1.0

[Surface]
width=1080
height=1920

[Mode]
mode=HOMOGRAPHY

[Mesh]
columns=32
rows=32

[Quad]
topLeft=669.25,100.00
topRight=1258.75,108.00
bottomRight=1251.75,850.00
bottomLeft=675.25,853.00
