# RAYMAP Config File
# Format: text/plain v1.0

[Surface]
width=1080
height=1920

[Mode]
mode=HOMOGRAPHY

[Mesh]
columns=32
rows=32

[Quad]
topLeft=1211.25,122.00
topRight=1697.75,89.00
bottomRight=1699.75,910.00
bottomLeft=1186.25,916.00
