# RAYMAP Config File
# Format: text/plain v1.0

[Surface]
width=1080
height=1920

[Mode]
mode=HOMOGRAPHY

[Mesh]
columns=32
rows=32

[Quad]
topLeft=813.25,179.00
topRight=1300.75,55.00
bottomRight=1269.75,1050.00
bottomLeft=744.25,1066.00
